h1 {
    font-family: 'Lobster', cursive;
    color: white;
}

h2 {
    font-family: 'Lobster', cursive;
    color: black;  
}

h3 {
    font-family: 'Lobster', cursive;
    color: black;  
}

.jumbotron {
    background-color: black;
}

#bg {
    background-image: url(../img/background-img.jpg);
}